*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background:url(pexels-burst-374777.jpg);
        background-size: cover;
    height: 100vh;
    background-image: linear-gradient(-45deg, #fbbe6b, #f13ea3);

}

.body{

}